{% load static %}

<html>

<head>

    <!-- Enlaces de bootstrap -->

    <!-- Referencia al archivo css de la carpeta static -->
    <link rel="stylesheet" href="{% static 'WebApp/css/blog.css' %}">

    <h1>
        <span>JUNIOR DEVELOPERS'S BLOG</span>
    </h1>

</head>

<body>


 <!-- Navbar -->
 <nav>
     <a href="{% url 'Home' %}" class="nav-menu">Home</a>
     <a href="{% url 'Blog' %}" class="nav-menu">Blog</a>
     <a href="{% url 'About' %}" class="nav-menu">About</a>
  </nav>

    <!--Changing Content -->
    {% block content %}

    {% endblock %}

</body>


</html>