{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Referencia al archivo css de la carpeta static -->
    <link rel="stylesheet" href="{% static '/WebApp/css/blog.css' %}">

    <h1 style="text-align: center">
        <span>JUNIOR DEVELOPERS'S BLOG</span>
    </h1>

</head>

<body>

<!-- Navbar -->

<div class="container">
    <nav class="nav-main">
        <ul class="nav-menu">
          <li><a id="anav" href="{% url 'Home' %}" class="nav-menu">Home</a></li>
          <li><a id="anav" href="{% url 'Blog' %}" class="nav-menu">Blog</a></li>
          <li><a id="anav" href="{% url 'About' %}" class="nav-menu">About</a></li>
        </ul>
    </nav>
</div>
    <!--Changing Content -->
    {% block content %}

    {% endblock %}

</body>
</html>