{% extends "WebApp/Base.html" %}

{% load static %}

{% block content %}
    <h2 align="center">HAMBURGUESAS</h2>
        <div class="postblog">
            {% for publisher in object_list %}
                <div>
                    <h3>{{ publisher.title }}</h3>
                    <p align="justify">{{ publisher.text|linebreaksbr}}</p>
                    <div>
                        <p><small>Creado: {{ publisher.created }}, Autor: {{ publisher.author.first_name }}</small></p>
                    </div>
                </div>
             {% endfor %}
        </div>
{% endblock %}