{% extends "WebApp/Base.html" %}

{% load static %}

{% block content %}

    <h2 align="center">Developer's Blog</h2>
    <div class="content container">
     <div class="row">
        <div class="col-md">
            {% for publisher in object_list %}
                <div class="post">

                    <h4><a href="">{{ publisher.title }}</a></h4>
                    <p>{{ publisher.text|linebreaksbr}}</p>
                    <div class="date">
                        <p><small>Creado: {{ publisher.created }}, Autor: {{ publisher.author.first_name }}</small></p>
                    </div>
            </div>

        {% endfor %}
        </div>
     </div>
    </div>

{% endblock %}